doctype html
html(lang='en')
  head
    meta(charset='UTF-8')
    meta(name='viewport', content='width=device-width, initial-scale=1.0')
    meta(http-equiv='X-UA-Compatible', content='ie=edge')
    link(rel='stylesheet', href='https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css', integrity='sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO', crossorigin='anonymous')
    link(rel='stylesheet', href='/css/index.css')
    title Geo-Location API
  body
    .page-center
      .card.text-center
        .card-header
          h3 Geospatial Weather Report
        .card-body
          h4.card-title Know your location.
          button.btn.btn-primary.locate-me Find Me
          .card-text.map-text
          .map-div
            #map
          br
          .container-fluid
            .row
              .col-md-6.offset-md-4
                .list-container
    script(src='/js/index.js')
    script(async='', defer='', src='https://maps.googleapis.com/maps/api/js?key=AIzaSyACaE_F3pumsu_NWp29CuuCkBI460CRBk0&libraries=places')
