@import url(https://fonts.googleapis.com/css?family=Roboto:400,100,500,300italic,500italic,700italic,900,300);

* {
  box-sizing: border-box;
}

body {
  font-family: "Roboto", 'Helvetica Neue, Helvetica, Arial';
  background: #efefef;
  height: 100vh;
}

.list-container {
  width: 450px;
  background: #fff;
  padding: 10px;
  border-radius: 3px;
}

.list-container h2 {
  color: #494277;
  text-align: center;
  font-weight: 500;
}

.search-wrapper .search {
  background: #eee;
  border-radius: 4px;
  display: flex;
  align-items: center;
}

.search-wrapper .search .search-icon .fa {
  color: #ccc;
  margin: 10px;
}

.search-wrapper .search input {
  padding: 8px 10px;
  border: 0;
  background: transparent;
  width: 100%;
  outline: none;
  font-size: 10pt;
  color: #808080;
}

.search-wrapper .search input::-webkit-input-placeholder {
  color: #ccc;
}

.list {
  list-style: none;
  margin: 0;
  padding: 0;
  margin-top: 10px;
}

.list li {
  padding: 10px 15px;
  border-radius: 4px;
  font-size: 10pt;
  font-weight: 300;
  display: flex;
  align-items: center;
  cursor: pointer;
  color: #656565;
  transition: all 0.3s ease;
}

.list li:hover {
  background: #5c7fed;
  color: #fff;
}

.list li:hover .circle {
  color: #fff;
}

.list li .circle {
  margin-right: 10px;
  align-self: center;
  color: #6ecc8b;
}

.list li .circle::before {
  content: "\2022";
  font-size: 23pt;
  vertical-align: middle;
}


.card {
  min-height: 70vh;
}

#map {
  height: 300px;
  width: 60%;
}

.map-div {
  display: flex;
  justify-content: center
}
